    @font-face {
        font-family: 'Gilroy Regular';
        src: url('../font/Gilroy-Regular.eot');
        src: url('../font/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Gilroy-Regular.woff') format('woff'),
        url('../font/Gilroy-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        }

    @font-face {
        font-family: 'Gilroy Medium';
        src: url('../font/Gilroy-Medium.eot');
        src: url('../font/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/Gilroy-Medium.woff') format('woff'),
        url('../font/Gilroy-Medium.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        }

     @font-face {
        font-family: 'Gilroy Semibold';
        src: url('../font/Gilroy-SemiBold.eot');
        src: url('../font/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../font/Gilroy-SemiBold.woff') format('woff'),
        url('../font/Gilroy-SemiBold.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        }  
        
@mixin regular {
    font-family: 'Gilroy Regular', sans-serif;
    font-weight: normal;
}

@mixin medium {
    font-family: 'Gilroy Medium', sans-serif;
    font-weight: normal;
}

@mixin semi {
    font-family: 'Gilroy Semibold', sans-serif;
    font-weight: normal;
}

@mixin noto {
    font-family: 'Noto Serif', serif;   
    font-weight: normal;
}